
<div class="hero-grid">
  <a class="card hero" href="/games/"><h3>게임</h3></a>
  <a class="card hero" href="/nh/"><h3>모여봐요 동물의 숲</h3></a>
  <a class="card hero" href="/villagers/"><h3>주민</h3></a>
  <a class="card hero" href="/npc/"><h3>특별 캐릭터</h3></a>
  <a class="card hero" href="/fish/"><h3>물고기</h3></a>
  <a class="card hero" href="/bugs/"><h3>곤충</h3></a>
  <a class="card hero" href="/sea/"><h3>해산물</h3></a>
  <a class="card hero" href="/fossils/"><h3>화석</h3></a>
  <a class="card hero" href="/art/"><h3>미술</h3></a>
  <a class="card hero" href="/gyroids/"><h3>하늘둥둥이</h3></a>
  <a class="card hero" href="/locations/"><h3>장소 & 시스템</h3></a>
  <a class="card hero" href="/events/"><h3>이벤트 & 시즌</h3></a>
  <a class="card hero" href="/furniture/"><h3>가구</h3></a>
  <a class="card hero" href="/clothing/"><h3>의류</h3></a>
  <a class="card hero" href="/tools/"><h3>도구</h3></a>
  <a class="card hero" href="/recipes/"><h3>DIY & 요리</h3></a>
  <a class="card hero" href="/music/"><h3>음악</h3></a>
  <a class="card hero" href="/community/"><h3>커뮤니티 & 위키</h3></a>
  <a class="card hero" href="/misc/"><h3>기타 요소</h3></a>
</div>
