<aside id="sidebar" class="sidebar" aria-label="주 메뉴">
  <nav class="menu">
<ul>
  <li><h3><a href="{{ site.baseurl }}/">🏠 홈</a></h3></li>
</ul>

    <h3>🌳 게임 정보</h3>
    <ul>
      <li>게임 목록
        <ul>
          <li>본편
            <ul>
              <li><a href="{{ site.baseurl }}/games/mainline/2001-n64/">《동물의 숲》(2001) - 닌텐도 64</a></li>
              <li><a href="{{ site.baseurl }}/games/mainline/2003-gc-plus/">《동물의 숲+》(2003) - 게임큐브</a></li>
              <li><a href="{{ site.baseurl }}/games/mainline/2003-gc-eplus/">《동물의 숲 e+》(2003) - 게임큐브</a></li>
              <li><a href="{{ site.baseurl }}/games/mainline/2005-ds/">《놀러오세요 동물의 숲》(2005) - 닌텐도 DS</a></li>
              <li><a href="{{ site.baseurl }}/games/mainline/2008-wii/">《타운으로 놀러가요 동물의 숲》(2008) - Wii</a></li>
              <li><a href="{{ site.baseurl }}/games/mainline/2012-3ds/">《튀어나와요 동물의 숲》(2012) - 닌텐도 3DS</a></li>
              <li><a href="{{ site.baseurl }}/games/mainline/2020-switch/">《모여봐요 동물의 숲》(2020) - 닌텐도 스위치</a></li>
            </ul>
          </li>
          <li>외전
            <ul>
              <li><a href="{{ site.baseurl }}/games/spinoff/2015-3ds-hhd/">《해피 홈 디자이너》(2015) - 닌텐도 3DS</a></li>
              <li><a href="{{ site.baseurl }}/games/spinoff/2015-wiiu-amiibo/">《아미보 페스티벌》(2015) - Wii U</a></li>
              <li><a href="{{ site.baseurl }}/games/spinoff/2017-pocket-camp/">《포켓 캠프》(2017) - iOS/Android</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li>모여봐요 동물의 숲
        <ul>
          <li><a href="{{ site.baseurl }}/nh/updates/">업데이트</a></li>
          <li><a href="{{ site.baseurl }}/nh/hhp/">해피 홈 파라다이스 (DLC)</a></li>
        </ul>
      </li>

      <li>주민
        <ul>
          <li>성격별
            <ul>
              <li>남성
                <ul>
                  <li><a href="{{ site.baseurl }}/villagers/?p=먹보">먹보</a></li>
                  <li><a href="{{ site.baseurl }}/villagers/?p=운동광">운동광</a></li>
                  <li><a href="{{ site.baseurl }}/villagers/?p=무뚝뚝">무뚝뚝</a></li>
                  <li><a href="{{ site.baseurl }}/villagers/?p=느끼함">느끼함</a></li>
                </ul>
              </li>
              <li>여성
                <ul>
                  <li><a href="{{ site.baseurl }}/villagers/?p=친절함">친절함</a></li>
                  <li><a href="{{ site.baseurl }}/villagers/?p=아이돌">아이돌</a></li>
                  <li><a href="{{ site.baseurl }}/villagers/?p=성숙함">성숙함</a></li>
                  <li><a href="{{ site.baseurl }}/villagers/?p=단순활발">단순활발</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li>종류별
            <ul class="species-grid">
              <li><a href="{{ site.baseurl }}/villagers/?s=개">개</a></li>
              <li><a href="{{ site.baseurl }}/villagers/?s=개구리">개구리</a></li>
              <li><a href="{{ site.baseurl }}/villagers/?s=개미핥기">개미핥기</a></li>
              <li><a href="{{ site.baseurl }}/villagers/?s=고릴라">고릴라</a></li>
              <li><a href="{{ site.baseurl }}/villagers/?s=고양이">고양이</a></li>
              <li><a href="{{ site.baseurl }}/villagers/?s=곰">곰</a></li>
              <li><a href="{{ site.baseurl }}/villagers/?s=꼬마곰">꼬마곰</a></li>
              <li><a href="{{ site.baseurl }}/villagers/?s=늑대">늑대</a></li>
              <!-- … 중략 … -->
              <li><a href="{{ site.baseurl }}/villagers/?s=호랑이">호랑이</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li><a href="{{ site.baseurl }}/npc/">특별 캐릭터</a></li>
      <li><a href="{{ site.baseurl }}/fish/">물고기</a> / <a href="{{ site.baseurl }}/bugs/">곤충</a> / <a href="{{ site.baseurl }}/sea/">해산물</a></li>
      <li><a href="{{ site.baseurl }}/fossils/">화석</a></li>
      <li><a href="{{ site.baseurl }}/art/">미술 / 진품·가품</a></li>
      <li><a href="{{ site.baseurl }}/gyroids/">하늘둥둥이</a></li>
      <li><a href="{{ site.baseurl }}/furniture/">가구</a> / <a href="{{ site.baseurl }}/clothing/">의류</a> / <a href="{{ site.baseurl }}/music/">음악</a></li>
      <li><a href="{{ site.baseurl }}/tools/">도구</a></li>
      <li><a href="{{ site.baseurl }}/recipes/">DIY & 요리 레시피</a></li>
    </ul>

    <h3>🏝️ 장소 & 시스템</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/locations/facilities/nooks-cranny/">너굴 상점</a></li>
      <li><a href="{{ site.baseurl }}/locations/facilities/able-sisters/">에이블 시스터즈</a></li>
      <li><a href="{{ site.baseurl }}/locations/facilities/resident-services/">안내소</a></li>
      <li><a href="{{ site.baseurl }}/locations/facilities/campsite/">캠핑장</a></li>
      <li><a href="{{ site.baseurl }}/locations/facilities/airport/">비행장</a></li>
      <li><a href="{{ site.baseurl }}/locations/facilities/museum/">박물관</a></li>
      <li><a href="{{ site.baseurl }}/locations/facilities/harvs-island/">파니의 섬</a></li>
      <li><a href="{{ site.baseurl }}/locations/facilities/the-roost/">부엉이 카페</a></li>
      <li><a href="{{ site.baseurl }}/locations/systems/mystery-islands/">마일 섬 / 배 투어</a></li>
      <li><a href="{{ site.baseurl }}/locations/systems/island-designer/">섬 크리에이터</a></li>
      <li><a href="{{ site.baseurl }}/locations/systems/nook-services/">너굴 마일리지 / 너굴 쇼핑 / 너굴포트 / 너굴폰</a></li>
      <li><a href="{{ site.baseurl }}/locations/systems/passport/">여권</a></li>
      <li><a href="{{ site.baseurl }}/locations/systems/emergency-escape/">긴급 탈출 서비스</a></li>
    </ul>

    <h3>🎉 이벤트 & 시즌</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/events/?m=4">이스터</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=2">낚시 대회</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=6">곤충 채집 대회</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=6">웨딩 시즌</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=8">불꽃놀이 / 카운트다운·새해</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=4">지구의 날</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=5">국제 박물관의 날</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=5">근로자의 날</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=12">눈사람</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=4">단풍잎 / 벚꽃</a></li>
      <li><a href="{{ site.baseurl }}/events/?m=11">칠면조의 날 / 장난감의 날 / 기타</a></li>
    </ul>

    <h3>🧑‍🤝‍🧑 커뮤니티 & 위키</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/community/proposals/">제안</a></li>
      <li><a href="{{ site.baseurl }}/community/tasks/">작업 게시판</a></li>
      <li>위키 유지보수
        <ul>
          <li><a href="{{ site.baseurl }}/community/requests/images/">이미지 요청</a></li>
          <li><a href="{{ site.baseurl }}/community/maintenance/cleanup/">정리 필요</a></li>
          <li><a href="{{ site.baseurl }}/community/maintenance/stubs/">토막글</a></li>
        </ul>
      </li>
      <li><a href="{{ site.baseurl }}/page-info/">페이지 정보 / 로그</a></li>
    </ul>

    <h3>🧩 기타 요소</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/misc/flowers/">꽃 교배 / 관목 / 나무</a></li>
      <li><a href="{{ site.baseurl }}/misc/materials/">재료 / 조개 / 과일</a></li>
      <li><a href="{{ site.baseurl }}/misc/balloons/">풍선</a></li>
      <li><a href="{{ site.baseurl }}/misc/letters/">편지 / 편지지</a></li>
      <li><a href="{{ site.baseurl }}/misc/posters-photos/">포스터 / 사진</a></li>
      <li><a href="{{ site.baseurl }}/misc/hair/">헤어스타일 & 색상</a></li>
    </ul>
  </nav>
</aside>
